html, body {
  height: 100%;
}

body {
  font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  line-height: 1.7;
  background-color: #f3f5f7;
}

.btn {
  color: #fff;
  padding: .375rem 1rem;
  border-radius: 24px;
  height: calc(1.7em + .75rem + 2px);
}

.btn:focus,
.btn:active {
  color: #fff !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn:hover {
  color: #fff !important;
  opacity: .8;
}

.btn-default {
  background: #333333;
  background: -webkit-linear-gradient(91deg, #333333 1%, #222222 100%);
  background: -o-linear-gradient(91deg, #333333 1%, #222222 100%);
  background: -moz-linear-gradient(91deg, #333333 1%, #222222 100%);
  background: linear-gradient(91deg, #333333 1%, #222222 100%);
}

.btn-info {
  background: #17a2b8;
  background: -webkit-linear-gradient(91deg, #17a2b8 1%, #077182 100%);
  background: -o-linear-gradient(91deg, #17a2b8 1%, #077182 100%);
  background: -moz-linear-gradient(91deg, #17a2b8 1%, #077182 100%);
  background: linear-gradient(91deg, #17a2b8 1%, #077182 100%);
}

.btn-primary {
  background: #0059fa;
  background: -webkit-linear-gradient(91deg, #0059fa 1%, #0800f9 100%);
  background: -o-linear-gradient(91deg, #0059fa 1%, #0800f9 100%);
  background: -moz-linear-gradient(91deg, #0059fa 1%, #0800f9 100%);
  background: linear-gradient(91deg, #0059fa 1%, #0800f9 100%);
}

.btn-danger {
  background: #dc3545;
  background: -webkit-linear-gradient(91deg, #dc3545 1%, #ad0a1a 100%);
  background: -o-linear-gradient(91deg, #dc3545 1%, #ad0a1a 100%);
  background: -moz-linear-gradient(91deg, #dc3545 1%, #ad0a1a 100%);
  background: linear-gradient(91deg, #dc3545 1%, #ad0a1a 100%);
}

.btn-warning {
  background: #ffc107;
  background: -webkit-linear-gradient(91deg, #ffc107 1%, #ffc107 100%);
  background: -o-linear-gradient(91deg, #ffc107 1%, #ffc107 100%);
  background: -moz-linear-gradient(91deg, #ffc107 1%, #ffc107 100%);
  background: linear-gradient(91deg, #ffc107 1%, #ff8d00 100%);
}

.btn-attendance {
  background: #FFD700;
  border:1px transparent black;
  box-shadow: #000;
  font-weight: bolder;
}

.form-control,
.input-group-text {
  background-color: #ffffff;
  border-color: #dfe1e2;
  border-radius: 24px;
  height: calc(1.7em + .75rem + 2px);
  color: black;
}

.input-group-text {
  color: #63799b;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #dfe1e2;
  box-shadow: none;
  outline: 0 none;
}

.input-group {
  margin-bottom: 1rem;
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.text-xs {
  font-size: .7rem;
}

.title {
  color: #63799b;
  font-weight: 400;
  margin-bottom: 1rem;
}

.border-left-default {
  border-left: .25rem solid #333333 !important;
}

.border-left-info {
  border-left: .25rem solid #17a2b8 !important;
}

.border-left-primary {
  border-left: .25rem solid #0059fa !important;
}

.border-left-success {
  border-left: .25rem solid #1cc88a !important;
}

.border-left-danger {
  border-left: .25rem solid #dc3545 !important;
}

.border-left-warning {
  border-left: .25rem solid #ffc107 !important;
}

.border-left-default {
  border-left: .25rem solid #333333 !important;
}

.border-bottom-info {
  border-bottom: .25rem solid #17a2b8 !important;
}

.border-bottom-primary {
  border-bottom: .25rem solid #0059fa !important;
}

.border-bottom-success {
  border-bottom: .25rem solid #1cc88a !important;
}

.border-bottom-danger {
  border-bottom: .25rem solid #dc3545 !important;
}

.border-bottom-warning {
  border-bottom: .25rem solid #ffc107 !important;
}

.text-gray-100 {
  color: #f8f9fc !important;
}

.text-gray-200 {
  color: #eaecf4 !important;
}

.text-gray-300 {
  color: #dddfeb !important;
}

.text-gray-400 {
  color: #d1d3e2 !important;
}

.text-gray-500 {
  color: #b7b9cc !important;
}

.text-gray-600 {
  color: #858796 !important;
}

.text-gray-700 {
  color: #6e707e !important;
}

.text-gray-800 {
  color: #5a5c69 !important;
}

.text-gray-900 {
  color: #3a3b45 !important;
}

.bg-gray {
  background-color: #f0f0f0;
  color: black;
}

.bg-gray-100 {
  background-color: #f8f9fc !important;
}

.bg-gray-200 {
  background-color: #eaecf4 !important;
}

.bg-gray-300 {
  background-color: #dddfeb !important;
}

.bg-gray-400 {
  background-color: #d1d3e2 !important;
}

.bg-gray-500 {
  background-color: #b7b9cc !important;
}

.bg-gray-600 {
  background-color: #858796 !important;
}

.bg-gray-700 {
  background-color: #6e707e !important;
}

.bg-gray-800 {
  background-color: #5a5c69 !important;
}

.bg-gray-900 {
  background-color: #3a3b45 !important;
}

.text-xs {
  font-size: .7rem;
}

.text-lg {
  font-size: 1.2rem;
}

.progress-sm {
  height: .5rem;
}

.login,
.login .row {
  height: 100%;
}

.background-login {
  color: #0059FA;
}

.background-login h5 {
  font-weight: normal;
}
.background-login h5 span {
  font-weight: bold;
}

.dashboard,
.dashboard > .row:nth-child(2) {
  height: 100%;
}

.dash-navbar-top {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.21);
  padding: 1.5rem 1rem;
  z-index: 1;
}

.dash-navbar-aside {
  background-color: #ffffff;
  padding: 0;
}

.dash-navbar-aside .navbar {
  padding: 1rem 0;
}

.dash-navbar-aside .navbar ul{
  width: 100%;
}

.dash-navbar-aside .navbar .nav-item {
  padding-left: 1rem;
}

.dash-navbar-aside .navbar .nav-item .nav-link,
.dash-navbar-aside .dropdown-item {
  color: #63799b;
}

.dash-navbar-aside .navbar .nav-item:hover {
  padding-left: 1.2rem;
}

.dash-navbar-aside .navbar .nav-item:active,
.dash-navbar-aside .navbar .nav-item.active {
  background-color: #f3f5f7;
  padding-left: 1rem;
}

.dash-navbar-aside .dropdown-item:hover {
  padding-left: 1.7rem;
}

.dash-navbar-aside .dropdown-item:active,
.dash-navbar-aside .dropdown-item.active {
  background-color: #f3f5f7;
}

.dash-navbar-aside .dropdown-menu.show {
  position: relative;
  background-color: transparent;
  border: 0;
}

/*.dash-navbar-aside  .dropdown-item {}*/

.dash-navbar-aside .navbar-expand-lg .navbar-nav {
  -ms-flex-direction: column;
  flex-direction: column;
}

.dash-navbar-top ul {
  margin: 0;
}

.dash-navbar-top ul li {
  display: inline-block;
  list-style: none;
}


.wizard-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  color: #63799b;
  position: relative;
}

.wizard-list::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #63799b;
  position: absolute;
  top: 30%;
}

.wizard-list li {
  background-color: #f3f5f7;
  z-index: 1;
}

.wizard-list li.active {
  color: #042cf9;
  font-weight: bold;
}

.wizard-list li > i {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #63799b;
  border-radius: 50%;
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  line-height: 2;
  margin: 0 auto;
}

.wizard-list li.active > i {
  background-color: #0339fa;
}

/*chat*/

.chat-page-content {
  max-height: 500px;
  overflow-y: auto;
}

.chat-messenger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  height: 100%
}

.chat-messenger .chat-discussions {
  background: #fff;
  width: 340px;
  border-right: 1px solid #dee0e1
}

.chat-messenger .chat-discussions>.chat-body .chat-items {
  list-style: none;
  padding: 0;
  margin: 0
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item {
  border-bottom: 1px solid #dee0e1
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item>a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #333;
  padding: 15px 20px;
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item>a>.chat-group-amount {
  position: relative;
  top: 3px;
  margin-right: 12px;
  width: 50px;
  height: 50px;
  background-color: rgba(57, 81, 155, .1);
  text-align: center;
  line-height: 36px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item>a>.chat-group-amount>.chat-badge {
  position: absolute;
  bottom: -1px;
  right: -3px;
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item>a>.chat-avatar {
  position: relative;
  top: 3px;
  margin-right: 12px
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item>a>.chat-avatar>img,
.chat-messenger .chat-avatar > img{
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item>a>.chat-avatar>.chat-badge {
  position: absolute;
  bottom: -3px;
  right: -3px
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item>a>.chat-body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.chat-messenger .chat-message p {
  font-size: 1rem;
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item>a>.chat-body>.chat-message{
  font-size: 12px;
  color: #858585;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item>a>.chat-body>.chat-message>img{
  position: relative;
  top: -2px;
  width: 18px;
  height: 18px;
  margin-right: 5px
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item>a>.chat-body>.chat-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  margin-bottom: 4px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item>a>.chat-body>.chat-name>.chat-datetime {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  color: #858585;
  position: relative;
  top: 3px
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item.chat-active {
  background: #ebeef5;
  color: #333;
  position: relative
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item.chat-active::before {
  content: '';
  width: 4px;
  height: 100%;
  background: #d7dceb;
  display: block;
  position: absolute;
  top: 0;
  left: 0
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item.chat-active>a>.chat-group-amount {
  background-color: rgba(57, 81, 155, .1)
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item.chat-unread {
  background: rgba(247, 202, 24, .1)
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item.chat-unread>a>.chat-body>.chat-message {
  color: #333
}

.chat-messenger .chat-discussions>.chat-body .chat-items>.chat-item.chat-unread>a>.chat-group-amount {
  background-color: rgba(222, 187, 12, .2)
}

.chat-messenger .chat-messages,
.chat-messenger__messages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: #fff
}

.chat-messenger .chat-messages>.chat-header,
.chat-messenger__messages>.chat-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #dee0e1;
  padding: 9px 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.chat-messenger .chat-messages>.chat-header>.chat-description>.chat-name,
.chat-messenger__messages>.chat-header>.chat-description>.chat-name {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 5px;
  font-weight: 500
}

.chat-messenger .chat-messages>.chat-header>.chat-description>.chat-amount,
.chat-messenger__messages>.chat-header>.chat-description>.chat-amount {
  color: #858585;
  font-size: 12px;
  line-height: 12px
}

.chat-messenger .chat-messages>.chat-body,
.chat-messenger__messages>.chat-body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.chat-messenger .chat-messages>.chat-body .chat-items,
.chat-messenger__messages>.chat-body .chat-items {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
  padding: 20px
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-separator,
.chat-messenger__messages>.chat-body .chat-items>.chat-separator {
  color: #858585;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 15px
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item,
.chat-messenger__messages>.chat-body .chat-items>.chat-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  margin-bottom: 12px
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item:last-child,
.chat-messenger__messages>.chat-body .chat-items>.chat-item:last-child {
  margin-bottom: 0
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item>.chat-body,
.chat-messenger__messages>.chat-body .chat-items>.chat-item>.chat-body {
  font-size: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 12px 15px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  position: relative
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item>.chat-body>.chat-header,
.chat-messenger__messages>.chat-body .chat-items>.chat-item>.chat-body>.chat-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2px
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item>.chat-body>.chat-header>.chat-name,
.chat-messenger__messages>.chat-body .chat-items>.chat-item>.chat-body>.chat-header>.chat-name {
  font-weight: bold;
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item>.chat-body>.chat-header>.chat-datetime,
.chat-messenger__messages>.chat-body .chat-items>.chat-item>.chat-body>.chat-header>.chat-datetime {
  font-size: 10px;
  color: #858585
}

.chat-messenger .chat-messages >.chat-body .chat-items > .chat-item.chat-from >.chat-body > .chat-header>.chat-datetime,
.chat-messenger__messages > .chat-body .chat-items > .chat-item.chat-from >.chat-body > .chat-header > .chat-datetime {
  color: #fff;
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item>.chat-body>.chat-message>.chat-link,
.chat-messenger__messages>.chat-body .chat-items>.chat-item>.chat-body>.chat-message>.chat-link {
  position: relative;
  margin-top: 10px;
  padding-left: 12px
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item>.chat-body>.chat-message>.chat-link:before,
.chat-messenger__messages>.chat-body .chat-items>.chat-item>.chat-body>.chat-message>.chat-link:before {
  content: '';
  width: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(57, 81, 155, .2)
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item.chat-self>.chat-avatar,
.chat-messenger__messages>.chat-body .chat-items>.chat-item.chat-self>.chat-avatar {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item.chat-self>.chat-body,
.chat-messenger__messages>.chat-body .chat-items>.chat-item.chat-self>.chat-body {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  border: solid 1px #dee0e1;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 14px;
  margin-right: 50px
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item.chat-self>.chat-body:before,
.chat-messenger__messages>.chat-body .chat-items>.chat-item.chat-self>.chat-body:before {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  top: -1px;
  width: 0;
  height: 0;
  border-top: 10px solid #dee0e1;
  border-right: 0 solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 10px solid transparent
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item.chat-self>.chat-body:after,
.chat-messenger__messages>.chat-body .chat-items>.chat-item.chat-self>.chat-body:after {
  content: '';
  display: block;
  position: absolute;
  left: -8px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-right: 0 solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 10px solid transparent
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item.chat-from>.chat-avatar,
.chat-messenger__messages>.chat-body .chat-items>.chat-item.chat-from>.chat-avatar {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item.chat-from>.chat-body,
.chat-messenger__messages>.chat-body .chat-items>.chat-item.chat-from>.chat-body {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  background-color: #28a745;
  color: #fff;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: 14px;
  margin-left: 50px
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item.chat-from>.chat-body:before,
.chat-messenger__messages>.chat-body .chat-items>.chat-item.chat-from>.chat-body:before {
  content: '';
  display: block;
  position: absolute;
  right: -10px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #28a745;
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item.chat-unread>.chat-body,
.chat-messenger__messages>.chat-body .chat-items>.chat-item.chat-unread>.chat-body {
  background: #fcf8e7
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item.chat-unread.chat-self>.chat-body:after,
.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item.chat-unread.chat-self>.chat-body:before,
.chat-messenger__messages>.chat-body .chat-items>.chat-item.chat-unread.chat-self>.chat-body:after,
.chat-messenger__messages>.chat-body .chat-items>.chat-item.chat-unread.chat-self>.chat-body:before {
  border-top: 10px solid #fcf8e7
}

.chat-messenger .chat-messages>.chat-body .chat-items>.chat-item.chat-unread.chat-from>.chat-body:before,
.chat-messenger__messages>.chat-body .chat-items>.chat-item.chat-unread.chat-from>.chat-body:before {
  border-left: 10px solid #fcf8e7
}

.chat-messenger .chat-messages>.chat-footer,
.chat-messenger__messages>.chat-footer {
  padding: 15px 20px;
  border-top: 1px solid #dee0e1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex
}

.chat-messenger .chat-messages>.chat-footer>.form-control,
.chat-messenger__messages>.chat-footer>.form-control {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 38px;
  overflow: hidden;
  resize: none;
  margin-right: 20px
}

.chat-messenger .chat-messages>.chat-footer>.chat-controls,
.chat-messenger__messages>.chat-footer>.chat-controls {
  text-align: right;
  width: 207px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.chat-messenger .chat-messages>.chat-footer>.chat-controls .chat-attachment,
.chat-messenger .chat-messages>.chat-footer>.chat-controls .chat-smile,
.chat-messenger__messages>.chat-footer>.chat-controls .chat-attachment,
.chat-messenger__messages>.chat-footer>.chat-controls .chat-smile {
  font-size: 22px;
  color: #8997c3;
  line-height: 22px;
  margin-left: 25px
}

.chat-messenger .chat-messages>.chat-footer>.chat-controls>.dropdown,
.chat-messenger__messages>.chat-footer>.chat-controls>.dropdown {
  display: inline-block
}

.chat-messenger .chat-messages>.chat-footer>.chat-controls>.dropdown>.chat-smile,
.chat-messenger__messages>.chat-footer>.chat-controls>.dropdown>.chat-smile {
  padding: 0
}

.chat-messenger .chat-messages>.chat-footer>.chat-controls>.dropdown>.chat-smileys,
.chat-messenger__messages>.chat-footer>.chat-controls>.dropdown>.chat-smileys {
  width: 200px;
  height: 167px
}

.chat-messenger .chat-messages>.chat-footer>.chat-controls>.dropdown>.chat-smileys .chat-smileys-wrapper,
.chat-messenger__messages>.chat-footer>.chat-controls>.dropdown>.chat-smileys .chat-smileys-wrapper {
  padding: 10px
}

.chat-messenger .chat-messages>.chat-footer>.chat-controls>.dropdown>.chat-smileys table,
.chat-messenger__messages>.chat-footer>.chat-controls>.dropdown>.chat-smileys table {
  width: 100%
}

.chat-messenger .chat-messages>.chat-footer>.chat-controls>.dropdown>.chat-smileys table td,
.chat-messenger__messages>.chat-footer>.chat-controls>.dropdown>.chat-smileys table td {
  vertical-align: middle;
  text-align: center;
  padding-bottom: 10px;
  cursor: pointer
}

.chat-messenger .chat-messages>.chat-footer>.chat-controls>.dropdown>.chat-smileys table tr:last-child td,
.chat-messenger__messages>.chat-footer>.chat-controls>.dropdown>.chat-smileys table tr:last-child td {
  padding-bottom: 0
}

.chat-messenger .chat-messages>.chat-files,
.chat-messenger__messages>.chat-files {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 10px;
  margin-top: -10px
}

.chat-messenger .chat-messages>.chat-files>.chat-file,
.chat-messenger__messages>.chat-files>.chat-file {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  position: relative
}

.chat-messenger .chat-messages>.chat-files>.chat-file:hover>.chat-thumb,
.chat-messenger__messages>.chat-files>.chat-file:hover>.chat-thumb {
  border: solid 1px #42a5f5
}

.chat-messenger .chat-messages>.chat-files>.chat-file>.chat-thumb,
.chat-messenger__messages>.chat-files>.chat-file>.chat-thumb {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  border: solid 1px #dee0e1;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 45px;
  color: #25628f
}

.chat-messenger .chat-messages>.chat-files>.chat-file>.chat-thumb::before,
.chat-messenger__messages>.chat-files>.chat-file>.chat-thumb::before {
  width: 100%
}

.chat-messenger .chat-messages>.chat-files>.chat-file>img.chat-thumb,
.chat-messenger__messages>.chat-files>.chat-file>img.chat-thumb {
  border: none
}

.chat-messenger .chat-messages>.chat-files>.chat-file>.chat-name,
.chat-messenger__messages>.chat-files>.chat-file>.chat-name {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #333
}

.chat-messenger .chat-messages>.chat-files>.chat-file>.chat-size,
.chat-messenger__messages>.chat-files>.chat-file>.chat-size {
  position: relative;
  top: -2px;
  font-size: 10px;
  color: #858585
}

.chat-messenger .chat-info,
.chat-messenger__info {
  width: 240px;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-left: 1px solid #dee0e1
}

.chat-messenger .chat-info>.chat-header,
.chat-messenger__info>.chat-header {
  border-bottom: 1px solid #dee0e1;
  line-height: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  padding: 20px
}

.chat-messenger .chat-info>.chat-body,
.chat-messenger__info>.chat-body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 20px
}

.chat-messenger .chat-info>.chat-body>.chat-item+.chat-item,
.chat-messenger__info>.chat-body>.chat-item+.chat-item {
  margin-top: 10px
}

.chat-messenger .chat-info>.chat-body>.chat-item.chat-user,
.chat-messenger__info>.chat-body>.chat-item.chat-user {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex
}

.chat-messenger .chat-info>.chat-body>.chat-item.chat-user>.chat-avatar,
.chat-messenger__info>.chat-body>.chat-item.chat-user>.chat-avatar {
  margin-right: 12px
}



.chat-messenger .chat-info>.chat-body>.chat-item.chat-user>.chat-name,
.chat-messenger__info>.chat-body>.chat-item.chat-user>.chat-name {
  line-height: 31px;
  color: #333
}

.chat-messenger .chat-info>.chat-body>.chat-item>.chat-name,
.chat-messenger__info>.chat-body>.chat-item>.chat-name {
  color: #858585;
  margin-bottom: 3px
}

.chat-messenger .chat-info>.chat-body>.chat-list>.chat-header,
.chat-messenger__info>.chat-body>.chat-list>.chat-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #858585;
  margin-bottom: 15px
}

.chat-messenger .chat-info>.chat-body>.chat-list .chat-item,
.chat-messenger__info>.chat-body>.chat-list .chat-item {
  margin-bottom: 15px
}

.chat-messenger .chat-info>.chat-body>.chat-list .chat-item.chat-user,
.chat-messenger__info>.chat-body>.chat-list .chat-item.chat-user {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex
}

.chat-messenger .chat-info>.chat-body>.chat-list .chat-item.chat-user>.chat-avatar,
.chat-messenger__info>.chat-body>.chat-list .chat-item.chat-user>.chat-avatar {
  margin-right: 12px
}

.chat-messenger .chat-info>.chat-body>.chat-list .chat-item.chat-user>.chat-name,
.chat-messenger__info>.chat-body>.chat-list .chat-item.chat-user>.chat-name {
  line-height: 31px;
  color: #333
}

.chat-messenger .chat-info>.chat-body>.chat-list .chat-item>.chat-owner,
.chat-messenger__info>.chat-body>.chat-list .chat-item>.chat-owner {
  position: relative;
  top: 1px
}

.chat-messenger .chat-info>.chat-body>.chat-list .chat-item>.chat-owner>.chat-name,
.chat-messenger__info>.chat-body>.chat-list .chat-item>.chat-owner>.chat-name {
  display: block;
  line-height: 13px
}

.chat-messenger .chat-info>.chat-body>.chat-list .chat-item>.chat-owner>.chat-label-sm,
.chat-messenger__info>.chat-body>.chat-list .chat-item>.chat-owner>.chat-label-sm {
  padding: 2px;
  font-size: 9px
}

.chat-messenger .chat-info>.chat-footer,
.chat-messenger__info>.chat-footer {
  padding: 20px;
  border-top: 1px solid #dee0e1
}

.chat-messenger .chat-info>.chat-footer>.chat-item+.chat-item,
.chat-messenger__info>.chat-footer>.chat-item+.chat-item {
  margin-top: 10px
}

.chat-messenger .chat-info>.chat-footer>.chat-item>.chat-name,
.chat-messenger__info>.chat-footer>.chat-item>.chat-name {
  color: #858585;
  margin-bottom: 3px
}

.chat-messenger .chat-info>.chat-footer>.btn-block,
.chat-messenger__info>.chat-footer>.btn-block {
  margin-top: 15px
}

.chat-messenger .chat-items .new-messages {
  display: none;
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 30px;
  height: 30px;
  background-color: #2d2929;
  text-align: center;
  border-radius: 50%;
  line-height: 1.8;
  color: #fff;
  cursor: pointer;
}

.anamnese .femea {
  display: none;
}

.anamnese .custom-radio label {
  cursor: pointer;
}

.select2-container .select2-selection--single {
  height: calc(1.7em + .75rem + 2px);
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple{
  background-color: #ffffff;
  border: 1px solid #dfe1e2;
  border-radius: 24px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000;
  line-height: calc(1.7em + .75rem + 5px);
  font-size: 1rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 0 14px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: #000;
  background-color: #dfe1e2;
  border: 1px solid #ccc;
  margin-top: 9px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: calc(1.7em + .75rem + 2px);
}


.modal-delete {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0 !important;
  left: 0!important;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: rgba(0,0,0,.85);
  opacity: 1;
  z-index: 999999999;
  overflow: hidden;
}

.modal-delete-content {
  width: 100%;
  max-width: 720px;
  margin: auto;
  align-self: center;
}

.modal-delete .icon {
  float: none;
  display: block;
  width: auto;
  height: auto;
  line-height: 1;
  padding: 0;
  font-size: 3em;
  margin: 0 auto .5rem;
}

.modal-delete .header {
  font-size: 1.2em;
  font-weight: bold;
}

.modal-delete .description {
  font-size: 0.9em;
}

.modal-delete .actions {
  margin-top: 2em;
  text-align: right;
}

.modal-delete-show {
  overflow: hidden;
}

@media screen and (max-width:1200px) {
  .btn.chat-messenger-info-block-toggle {
    position: static
  }
  .chat-messenger .chat-info,
  .chat-messenger__info {
    position: fixed;
    top: 120px;
    bottom: 0;
    right: -241px;
    z-index: 4;
    height: -webkit-calc(100% - 120px);
    height: calc(100% - 120px)
  }
  .chat-messenger .chat-info.chat-open,
  .chat-messenger__info.chat-open {
    right: 0;
    -webkit-transition: right .2s ease;
    transition: right .2s ease
  }
}

@media screen and (max-width:800px) {
  .chat-messenger .chat-discussions {
    width: 100%
  }
  .chat-messenger .chat-messages,
  .chat-messenger__messages {
    position: fixed;
    top: 120px;
    bottom: 0;
    z-index: 2;
    height: -webkit-calc(100% - 120px);
    height: calc(100% - 120px);
    width: 100%;
    right: -1000px
  }
  .chat-messenger .chat-messages.chat-open,
  .chat-messenger__messages.chat-open {
    right: 0;
    -webkit-transition: right .2s ease;
    transition: right .2s ease
  }
}

@media screen and (max-width:560px) {
  .chat-messenger .chat-messages>.chat-footer,
  .chat-messenger__messages>.chat-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .chat-messenger .chat-messages>.chat-footer textarea,
  .chat-messenger__messages>.chat-footer textarea {
    margin-bottom: 20px
  }
  .chat-messenger__chat-messages-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .chat-messenger__chat-messages-footer textarea {
    margin-bottom: 20px
  }
}

@media (min-width: 768px) {
  .background-login {
    background-image: url("../img/background-login@2x.png");
    background-size: 38rem;
    background-repeat: no-repeat;
    background-position: 0rem -3rem;
    height: 100%;
    padding: 7rem 0.5rem 0 2rem;
    color: #fff;
}

  .login .form-login {
    max-width: 20rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
}

@media (min-width: 1145px) {
  .background-login {
    padding: 7rem 2rem 0 3.5rem;
  }
}

@media (min-width: 1146px) {
  .background-login {
    background-size: 39rem;
  }
}

@media (min-width: 1220px) {
  .background-login {
    background-size: 100%;
    background-position: 1rem -3rem;
  }
}


@media (min-width: 1650px) {
  .background-login {
    background-image: url("../img/background-login.png");
    background-size: 96%;
    background-position: 60px -310px;
    padding: 7rem 7rem 0 14.5rem;
  }
}

.btn-erro {
  background-color: #EBA517;
  color: black;
  font-weight: bold;
}

.bg-erro403 {
  background-color: #1E90FF;
}

.erro403 h1 {
  text-shadow: 1px 1px 1px black;
  border: black;
  color: white;
  font-size: 200px;
  font-family: Impact;
}

.erro403 h3 {
  text-shadow: 1px 1px 1px black;
  border: black;
  color: white;
  font-size: 50px;
  font-family: Impact;
}

.bg-erro404 {
  background-color: white;
}

.bg-erro405 {
  background-color: #1E90FF;
}

.erro405 h1 {
  text-shadow: 1px 1px 1px black;
  border: black;
  color: white;
  font-size: 200px;
  font-family: Impact;
}

.erro405 h3 {
  text-shadow: 1px 1px 1px black;
  border: black;
  color: white;
  font-size: 50px;
  font-family: Impact;
}

.erro500 {
  width: 1000px;
  height: 500;
  border: none;
}

.bg-erro500 {
  background-color: white;
}

.teste {
  border: 1px solid black;
  padding: 5px;
  margin-left: 10%;
  text-align: center;
  text-shadow: 2px 2px 2px 2px black;

}